body {
    font-family: sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login-form {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-self: center;
}

#login-form > * {
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 8px;
}

input {
    padding-left: 12px;
    box-sizing: border-box;
    background-color: #d9d9d9;
    outline: none;
}

button {
    background-color: black;
    color: white;
    border: none;
}

button:hover {
    background-color: #222222;
    cursor: pointer;
}

button:active {
    background-color: #444444;
}

#header {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 250px;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

#logout {
    height: 40px;
    width: 100px;
    background-color: red;
    border-radius: 8px;
}

#logout:hover {
    background-color: #ff2222;
}

#logout:active {
    background-color: #ff4444;
}

td > button {
    height: 20px;
    width: 60px;
    border-radius: 8px;
    font-size: 12px;
}

form > * {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 8px;
}

form {
    margin-top: 50px;
}